.text-red{
	color:red;/*もしくは#ff0000*/
}
#kunren{
	color: blue;/*もしくは#0000ff*/
}
main p{
	color: green;/*もしくは#00ff00*/
}

.outer-box{
	border: 3px double #ff0000;
	width: 80%;
	/*height: 500px;*/
	text-align: center;
	background-color: #eeeeee;
	margin: 10px auto 10px auto;
	padding-left: 10px;
	padding-bottom: 10px;
}
.inner-box{
	border:2px solid #666666;
	width: 20%;
	height: 200px;
/*	margin: 10px auto 10px auto;
	margin: 10px 8px 10px;
	padding: 80px 20px 20px 20px;*/
	background:#f6f6f6;
	float: left;/*下のボックスが右に回り込む（左詰め）*/
	margin: 10px 10px 10px 10px;
}

.clear{
	clear: left;/*(bothはライトレフト両方に効く)*/
}
	/*回り込みを回避する*/
/*ul{
	clear: both;
	}
*/

.section-box{
	width: 80%;
	margin:10px auto 10px auto;
	border:2px dotted #444444;
	background: #eeeeee;
	display: table;
}

.article-box{
	height:200px;
	display: table-cell;

}
.position-wrapper{
	width:80%;
	margin: 12px auto;
	border: 1px solid #333333;
	position: relative;
}
.css-position , .no-position{
	width:200px;
	height: 200px;
	border:1px solid #666666;
}
.css-position{
	background: #99ffee;
	/*position: absolute;絶対値*/
	position: relative;/*相対値*/
	/*position: fixed;固定する、ついてまわる*/
	top: 50px;
	left: 50px;
	/*bottom: 30px;
	right: 50px;*/
	z-index: 2;
}
.no-position{
	background: #eedddd;
	position: relative;
	bottom: 10px;
	left: 10px;
	z-index: 1;
}
ul {
	width: 80%;
	display:table;
	table-layout: fixed;
	height: 50px;
	margin: 10px auto;
	padding: 0;
	/*border: 1px solid #000000;*/
}
ul li{
	background-color: #aaa;
	display: table-cell;
	color: :#ffffff;
	text-align: center;
	padding: 10px 0;
	border-right: 1px solid #ff0000;
}
/*黒点や順番を消す 他　sircle squareなどあり--*/
ul li:last-child {
border-right: none;
}

/*li{
	border-top: 1px solid #666666;
}*/
ol {
	width: 80%;
/*	background: #0000ff;*/
	display:table;
	height: 30px;
	margin: 7px auto;
	padding: 0;
}

ol li{
	background-color: #ff0000;
	display:table-cell;
	text-align: center;
	margin: 0;
	border-right: 1px solid #aaa;

}
ol li:last-child{
	border-right: none;
}
a{
	color: #ffff00;
}
a hover{
	color: #00ffff;
}
a:visited{
	color: #888888;
}
